.circle {
    width: 30px;
    height: 30px;
    background-color: rgba(230, 112, 143, 0.5);
    /* background-color: #E6708F; Color del círculo */
    filter: blur(1.5rem);
    border-radius: 50%; /* Forma circular */
    position: absolute;
    transition: all 0.05s ease; /* Transición suave */
    z-index: 0;
}
